.employee-card {
    max-width: 400px;
}

.employee-header-image {
    background-size: cover;
}

.employee-card-header {
    padding: 16px;
    justify-content: center;
}

.employee-card-actions {
    justify-content: center;
}