<mat-card class="employee-card" appearance="outlined">
    <mat-card-header class="employee-card-header">
      <mat-card-title>{{ currentEmployee ? currentEmployee.title : "" }}</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="https://picsum.photos/400">
    <mat-card-actions class="employee-card-actions">
        @for (employee of randomEmployees; track employee.id;) {
            <button (click)="openDialog()" mat-button [color]="employee.buttonColor" (click)="onEmployeeClick(employee)">{{employee.firstName}}</button>
        }
    </mat-card-actions>
  </mat-card>
