@import '@angular/material/prebuilt-themes/indigo-pink.css';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #11112f;
  color: #e3e2e6;
}

.flex {
  display: flex;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

/* Spacing Utilities */
$directions: t, r, b, l, x, y;
$properties: m, p;

@mixin spacing-utility($property, $direction, $value) {
  $full-property: if($property ==m, margin, padding);

  @if $direction ==t {
    .#{$property}t-#{$value} {
      #{$full-property}-top: #{$value}px;
    }
  }

  @else if $direction ==r {
    .#{$property}r-#{$value} {
      #{$full-property}-right: #{$value}px;
    }
  }

  @else if $direction ==b {
    .#{$property}b-#{$value} {
      #{$full-property}-bottom: #{$value}px;
    }
  }

  @else if $direction ==l {
    .#{$property}l-#{$value} {
      #{$full-property}-left: #{$value}px;
    }
  }

  @else if $direction ==x {
    .#{$property}x-#{$value} {
      #{$full-property}-left: #{$value}px;
      #{$full-property}-right: #{$value}px;
    }
  }

  @else if $direction ==y {
    .#{$property}y-#{$value} {
      #{$full-property}-top: #{$value}px;
      #{$full-property}-bottom: #{$value}px;
    }
  }
}

@each $direction in $directions {
  @for $i from 1 through 50 {
    @each $property in $properties {
      @include spacing-utility($property, $direction, $i);
    }
  }
}